
/* h2{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.dark_blue{
    text-align: left;
    color: hsl(224, 30%, 27%);
    padding-top: 20px;
    margin-bottom: 25px;
}
h1{
    color: hsl(221, 100%, 96%);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
}
p{
    font-size: 1.05rem;
}

.card__blue{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(241, 100%, 89%);
    
    
    
}
.container{
   
}
.col{
    width: 100%;
        max-width: 450px;
        margin: 40px auto;
        padding: 50px;
        border-radius: 25px;
}
.card__blue p{
    text-align: center;
}
.circle{
    margin: auto;
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.circle p{
    font-size: 0.7rem;
    font-weight: 600;
}
.big__num{
    font-size: 3rem;
    color: hsl(221, 100%, 96%);
    font-weight: 800;
}

.card__white{
    background-color: hsl(0, 0%, 100%);
    color: hsl(241, 100%, 89%);
}
.reaction{
    background-color: hsla(0, 100%, 67%, 0.082);
}
.memory{
    background-color:hsla(39, 100%, 56%, 0.11) ;
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.135);
}
.visual{
    background-color: hsla(234, 85%, 45%, 0.103);
}
.reaction, .memory, .verbal, .visual{
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    margin: 20px ;
    justify-content: space-between;
}
.red_p{
    color: hsl(0, 100%, 67%);
}
.yellow_p{
    color: hsl(39, 100%, 56%);
}
.green_p{
    color: hsl(166, 100%, 37%);
}
.blue_p{
    color: hsl(234, 85%, 45%);
}
.dark_blue_p {
    color: hsl(223, 31%, 20%);
    font-weight: 800;
}
img, .red_p, .numbers, .blue_p, .green_p, .yellow_p{
    vertical-align: middle;
    display: inline-block;
}
button{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    display: block;
    padding: 15px 100px;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-bottom: 20px;
}
button:hover{
    background-color: hsla(224, 30%, 27%, 0.79);
    transition: 0.3s ease;
}

@media(min-width:600px){
.container {
     padding: 100px 0;
    }

.card {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    
    }
.row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.col{
    width: 100%;
}
.card__blue {
    padding: 70px 80px ;
    border-radius: 25px;
}
.card__white{
    box-shadow: 5px 3px 5px 1px hsl(221, 100%, 96%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
p {
    font-size: 1.1rem;
}
.dark_blue {
    margin-left: 15px;
}
button{
    padding: 15px 80px;
}
}

 */

 
 


  
 :root{
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --blue-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */
    --background-gradient: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --lavender: hsl(241, 100%, 89%);
    --gray-blue: hsl(224, 30%, 27%);
    /* edited colours */
    --red: hsla(0, 100%, 67%, 0.082);
    --yellow: hsla(39, 100%, 56%, 0.11);
    --teal: hsla(166, 100%, 37%, 0.135);
    --blue: hsla(234, 85%, 45%, 0.103);
 }
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Hanken Grotesk, sans-serif;
 }
 .attribution {
     font-size: 18px;
     text-align: center;
 }
 .attribution a {
     color: var(--orange-yellow);
 }
 .card{
    margin: 20px;
 }
 /* Styling for blue card */
 .card__blue {
     background-image: var(--background-gradient);
     color: var(--lavender);
     padding: 60px 50px;
     width: 100%;
     max-width: 400px;
     margin: 40px auto 0px auto;
    border-radius: 25px;
 }
 h1 {
     color: var(--pale-blue);
     text-align: center;
     margin-top: 20px;
     margin-bottom: 22px;
 }
 h2 {
     font-size: 1.2rem;
     
     margin-bottom: 20px;
     font-weight: 700;
 }
 .center{
    text-align: center;
 }
 .dark_blue {
     color: var(--gray-blue);
     padding-top: 20px;
     margin-bottom: 25px;
     margin-left: 15px;
 }
 p {
     font-size: 1.05rem;
 }
 .card__blue p {
     text-align: center;
 }
 .circle {
     margin: auto;
     display: flex;
     height: 150px;
     width: 150px;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 50%;
     background-image: var(--circle-gradient);
 }
.circle p {
    font-size: 0.7rem;
    font-weight: 600;
}
.big__num {
    font-size: 3rem;
    color: var(--pale-blue);
    font-weight: 800;
}
/* Styling for white card */
.card__white {
    background-color: var(--white);
    color: var(--lavender);
    border-radius: 25px;
    box-shadow: 5px 3px 5px 1px hsl(221, 100%, 96%);
    margin: 0px auto 40px auto;
    width: 100%;
    max-width: 400px;
}
.reaction {
    background-color: var(--red);
}
.memory {
    background-color: var(--yellow);
}
.verbal {
    background-color: var(--teal);
}
.visual {
    background-color: var(--blue) ;
}
.reaction,
.memory,
.verbal,
.visual {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.dark_blue_p {
    color: hsl(223, 31%, 20%);
    font-weight: 800;
}
img,
.red_p,
.numbers,
.blue_p,
.green_p,
.yellow_p {
    vertical-align: middle;
    display: inline-block;
}
button {
    background-color: var(--gray-blue);
    color: var(--white);
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    display: block;
    padding: 15px 110px;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-bottom: 20px;
}
button:hover {
    background-color: hsla(224, 30%, 27%, 0.79);
    transition: 0.3s ease;
}
/* Desktop Design */

@media(min-width:650px){
    .dark_blue{
       
    }
    .row {
           display: flex;
        justify-content: center;
        align-items: center;
        }
    .col{
        margin: 0;
        
        
    }
    .container{
        margin: 0px;
    }
    .card__blue{
        
    }
    .card__white{
        
    }
}